<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Digiflow SA</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div style="display:none;" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nombre de la aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Monitor</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript" >


        $('#form-anulaciones-id input[name="reprocesar"]').on('click', function (e) {
            e.preventDefault();
            cargarListaReprocesar('table-factura-id');
            listaAReprocesar('listaCpePorReprocesar');
            $('#form-anulaciones-id').submit();
        });

        function listaAReprocesar(lista) {
            document.getElementById(lista).value = JSON.stringify(arrayListCpe);
            arrayListCpe = [];
        }

        function cargarListaReprocesar(idTabla) {
            $('#' + idTabla + ' > tbody  > tr').each(function () {
                cleanCpe();
                if ($('td:eq(0) input', this).eq(0)[0].checked) {
                    Cpe.RUC = $('td:eq(1) ', this).text();
                    Cpe.Serie = $('td:eq(3) ', this).text();
                    Cpe.Correlativo = $('td:eq(4) ', this).text();
                    Cpe.CodigoEmpresa = $('td:eq(8) ', this).text();
                    arrayListCpe.push(Cpe);
                }
            });
        }

        function cleanCpe() {
            Cpe = {
                'RUC': '',
                'Serie': '',
                'Correlativo': '',
                'CodigoEmpresa': ''
            };
        }
        let arrayListCpe = [];

        let Cpe = {
            'RUC': '',
            'Serie': '',
            'Correlativo': '',
            'CodigoEmpresa': ''
        };

    </script>
</body>
</html>
